---
import { Rating } from "../index.mjs";

const starAltLayout_1 = {
	containerClass: "flex flex-col-reverse items-end",
	totalClass: "text-sm text-gray-300",
	starsClass: "flex items-center",
	iconClass: "h-4 w-4"
}

const starAltLayout_2 = {
	containerClass: "flex flex-row-reverse items-center",
	totalClass: "text-sm text-gray-300",
	starsClass: "flex items-center",
	iconClass: "h-4 w-4"
}

const starAltIcons_1 = {
	starFull: "ph:star-fill",
	starHalf: "ph:star-half-fill",
	starDisabled: "ph:star",
	iconClass: "text-yellow-500 w-4 h-4"
}
const starAltIcons_2 = {
	starFull: "mdi:star",
	starHalf: "mdi:star-half-full",
	starDisabled: "mdi:star-outline",
	iconClass: "text-yellow-500 w-4 h-4"
}
---
<style is:global lang="scss">
	main {
		font-family: Arial, Helvetica, sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		section {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 1rem;
			padding: 1rem;
			border: 2px solid #ccc;
			border-radius: 7px;

			h1, h2, h3, h4, h5, h6 {
				align-self: center;
				margin: 0;
			}

			.div {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				gap: 0.5rem;

				p {
					opacity: .5;
				}
			}
		}
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Rating</title>
	</head>
	<body>
		<main>
			<section>
				<h2>Demo</h2>
				<div class="div">
					<p>Default styling</p>
					<Rating rate="7" max="12" />
					<Rating total="872" rate="9.5" max={10} />
					<Rating total={178} rate="2.5" max="5"/>
				</div>
				<div class="div">
					<p>Custom styling</p>
					<Rating total="872" rate="9.5" max={10} {...starAltLayout_1}/>
					<Rating total={178} rate="2.5" max="5" {...starAltLayout_2}/>
				</div>
				<div class="div">
					<p>Font Awesome Icons</p>
					<Rating total="32769" rate="8.5" max="10" {...starAltIcons_1}/>
				</div>
				<div class="div">
					<p>Material Design Icons</p>
					<Rating total="72" rate="2.5" max="5" {...starAltIcons_2}/>
				</div>
			</section>
			<section>				
				<h2>10 stars</h2>
				<Rating total="34566" rate="10" max={10} />
				<Rating total={2139} rate={8.5} max="10" />
				<Rating total="872" rate="5" max={10} />
				<Rating total={17} rate="3.5" max="10" />
				<Rating total="3" rate={0.5} max={10} />
			</section>
			<section>
				<h2>5 stars</h2>
				<Rating total="1279643" rate="5" max="5" />
				<Rating total="673923" rate="4.5" max="5" />
				<Rating total="90876" rate="3.5" max="5" />
				<Rating total="8634" rate="3" max="5" />
				<Rating total="178" rate="2.5" max="5" />
				<Rating total="39" rate="1.5" max="5" />
				<Rating total="8" rate="0.5" max="5" />
				<Rating total="0" rate="0" max="5" />
			</section>
			<section>
				<h2>Test/Debug</h2>
				<h3>Icon Tests</h3>
				<Rating total="99999" rate="2.5" max="5" {...starAltIcons_1}/>
				<h3>No props test</h3>
				<Rating />
				<h3>No total test</h3>
				<Rating rate="3" max="5"/>
				<h3>Half star test</h3>
				<Rating total="99999" rate="2.5" max="5"/>
				<Rating total="99999" rate="0.5" max="5" />
				<h3>1 Star test</h3>
				<Rating total="99999" rate="1" max="1" />
				<Rating total="99999" rate="0" max="1" />
				<h3>Commas in total test</h3>
				<Rating total="99,999" rate="3" max="5" />
				<Rating total="99,99,9" rate="3" max="5" />
				<Rating total="	9, 9, 9, 9, 9test" rate="3" max="5" />
				<h3>Numbers and strings test</h3>
				<Rating total={99999} rate={10} max={10} />
				<Rating total={9999} rate={8} max="10" />
				<Rating total={999} rate="5" max="10" />
				<Rating total="999" rate="3" max="10" />
				<Rating total={9} rate="1" max={10} />
			</section>
		</main>
	</body>
</html>
