---
import { Rating } from "../index.mjs";
---
<style lang="scss">
	main {
		font-family: Arial, Helvetica, sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		section {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 0.5rem;
			padding: 1rem;
			border: 2px solid #ccc;
			border-radius: 7px;

			h1, h2, h3, h4, h5, h6 {
				align-self: center;
				margin: 0;
			}
		}
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Rating</title>
	</head>
	<body>
		<main>
			<section>
				<h2>5 stars</h2>
				<Rating total="1279643" rate="5" max="5" />
				<Rating total="673923" rate="4" max="5" />
				<Rating total="90876" rate="3" max="5" />
				<Rating total="8634" rate="3" max="5" />
				<Rating total="178" rate="2" max="5" />
				<Rating total="39" rate="1" max="5" />
				<Rating total="8" rate="0" max="5" />
			</section>
			<section>				
				<h2>10 stars</h2>
				<Rating total="34566" rate="10" max={10} />
				<Rating total={2139} rate={8} max="10" />
				<Rating total="872" rate="5" max={10} />
				<Rating total={17} rate="3" max="10" />
				<Rating total="3" rate={1} max={10} />
			</section>
			<section>
				<h2>12 stars</h2>
				<Rating total="78254" rate="7" max="12" />
			</section>
			<section>
				<h2>Test/Debug</h2>
				<h3>No props test</h3>
				<Rating />
				<h3>No total test</h3>
				<Rating rate="3" max="5" />
				<h3>1 Star test</h3>
				<Rating total="99999" rate="1" max="1" />
				<Rating total="99999" rate="0" max="1" />
				<h3>Commas in total test</h3>
				<Rating total="99999" rate="3" max="5" />
				<Rating total="99,999" rate="3" max="5" />
				<Rating total="99,99,9" rate="3" max="5" />
				<Rating total="9,9,9,9,9" rate="3" max="5" />
				<Rating total="999,999,999" rate="3" max="5" />
				<h3>Numbers and strings test</h3>
				<Rating total={99999} rate={10} max={10} />
				<Rating total={9999} rate={8} max="10" />
				<Rating total={999} rate="5" max="10" />
				<Rating total="999" rate="3" max="10" />
				<Rating total={9} rate="1" max={10} />
			</section>
		</main>
	</body>
</html>
